# Should never be in a repository
.Project/Star Story.AChangelog.ini
*.neil~
*.neil#
Script/Use/Misc/#Resistance.neil#
\#*#


# Archive of the old scripts. 
# I may need those for referrence, but in the repository they're useless.
Archive
